*.nospawnn.com {
    tls {
        dns cloudflare {{ cloudflare_token }}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @vikunja host vikunja.nospawnn.com
    handle @vikunja {
        reverse_proxy vikunja:3456
    }

    @glance host homepage.nospawnn.com
    handle @glance {
        reverse_proxy glance:8080
    }

    @tududi host tududi.nospawnn.com
    handle @tududi {
        reverse_proxy tududi:3002
    }
}
