[Unit]
Description=GitOps Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/var/lib/gitops
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/bin/ansible-playbook \
  --vault-pass-file .vault_pass \
  --inventory-file ansible/inventory.yaml \
  --limit %l \
  ansible/playbooks/local.yaml
