[Unit]
Description=GitOps Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /var/lib/gitops pull
ExecStart=/usr/bin/ansible-playbook \
  --vault-pass-file /var/lib/gitops/.vault_pass \
  --inventory-file /var/lib/gitops/ansible/inventory.yaml \
  --limit %l \
  /var/lib/gitops/ansible/playbooks/local.yaml
